<header class="header" id="header">
    <nav class="navigation container">
        <div class="menu">
            <% if (user==undefined || user.uloga=='korisnik' ) { %>
                <a href = "/" class="topMenuDiv <%if (linkActive === 'home') {%> link-active<%}%>">
                    <div>Naslovnica</div>
                </a>
                <a href="/search" class="topMenuDiv <%if (linkActive === 'search') {%> link-active<%}%>">
                    <div>Pretraga</div>
                </a>
            <% } %>

            <% if(user==undefined || user.uloga=='korisnik' ){ %>
                <a href="/" class="topMenuDiv">
                    <img src="../images/logo.svg" alt="Company logo">
                </a>
            <% } %>

            <% if (user !=undefined ) { %>
                <a href=" /user" class ="topMenuDiv <%if (linkActive === 'user') {%> link-active<%}%>">
                    <div>Račun</div>
                </a>
            <% } %>

            <% if (user !=undefined && user.uloga=='korisnik' ) { %>
                <a href="/cart" class="topMenuDiv <%if (linkActive === 'cart') {%> link-active<%}%>">
                    <div>Moje rezervacije</div>
                </a>
            <% } %>

            <% if (user !=undefined && user.uloga=='vlasnik' ) { %>
                <a href="/owner" class="topMenuDiv <%if (linkActive === 'vlasnik') {%> link-active<%}%>">
                    <div>Vlasnik</div>
                </a>
            <% } %>

            <% if (user !=undefined && user.uloga=='admin' ) { %>
                <a href="/admin" class="topMenuDiv <%if (linkActive === 'admin') {%> link-active<%}%>">
                    <div>Admin</div>
                </a>
            <% } %>

            <% if (user==undefined) { %>
                <a href="/login" class="topMenuDiv <%if (linkActive === 'login') {%> link-active<%}%>">
                    <div>Login</div>
                </a>
                <a href="/signup" class="topMenuDiv <%if (linkActive === 'signup') {%> link-active<%}%>">
                    <div>Registracija</div>
                </a>
            <% } %>

            <% if (user !==undefined) { %>
                <a href="/logout" class="topMenuDiv <%if (linkActive === 'logout') {%> link-active<%}%>">
                    <div>Odjava</div>
                </a>
            <% } %>

            <% if(user !==undefined && user.uloga=='korisnik' ) { %>
                <div class="logoContainer">
                    <div class="accountLogo">
                        <b><a href="/user" class="menu-item">
                            <%=user.korisnickoime.charAt(0)%>
                        </a></b>
                    </div>
                </div>
            <% } %>
        </div>
    </nav>
</header>