<!DOCTYPE html>
<html>

<% var users=[]; %>

    <head>
        <title>AUTOS!</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="./images/car-icon.png" />
        <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
        <link rel="stylesheet" type="text/css" href="./styles/main.css">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    </head>

    <body class="content">
        <%- include(`partials/header`); %>
            <h1 style="text-align:center">ADMIN</h1>

            <div class="container">

                <span>Ispis korisnika:</span>
                <form action="/admin" method="POST">
                    <input type="radio" id="all" name="getUsers" value="all" checked="checked">
                    <label for="all">Svi</label><br>
                    <input type="radio" id="user" name="getUsers" value="user">
                    <label for="user">Obični korisnici</label><br>
                    <input type="radio" id="admin" name="getUsers" value="owner">
                    <label for="owner">Vlasnici sustava</label>
                    <button>Prikaz korisnika</button>
                </form>
                <div>
                    <%= users.length %>
                        <%= users %>
                            <% for (let user of users) { %>
                                <div>
                                    <%= user.korisnickoime %>
                                </div>
                                <% } %>
                </div>
                <div class="centered-container">
                    <div class="separator"></div>
                    <form action="/admin" method="post">
                        <fieldset class="fieldset">
                            <legend class="main-color-emphasized">Brisanje korisnika</legend>

                            <label for="korisnickoIme">Korisničko ime:</label>
                            <input type="text" name="userDelete" id="korisnickoImeToBeDeleted" maxlength="30"
                                minlength="4">
                            <br>
                            <input type="submit" style="margin-top: 3px;"> <input type="reset">
                            <br>
                        </fieldset>
                    </form>
                </div>

                <div class="centered-container">
                    <div class="separator"></div>
                    <form action="/admin" method="post">
                        <fieldset class="fieldset">
                            <legend class="main-color-emphasized">Promjena razine korisnika</legend>

                            <label for="korisnickoIme">Korisničko ime:</label>
                            <input type="text" name="userEdit" id="korisnickoIme" maxlength="30" minlength="4">
                            <br>

                            <input type="submit" style="margin-top: 3px;"> <input type="reset">
                            <br>
                        </fieldset>
                    </form>
                </div>

                <form action="/admin" method="POST">
                    <input type="hidden" name="getLocations" />
                    <input type="submit" value="Prikaz poslovnica" />
                </form>

                <div class=" centered-container">
                    <div class="separator"></div>
                    <form action="/admin" method="post">
                        <fieldset class="fieldset">
                            <legend class="main-color-emphasized">Dodavanje poslovnice</legend>

                            <label for="lokacija">Lokacija:</label>
                            <input type="text" name="locationAdd" id="lokacija" maxlength="20" minlength="2">
                            <br>

                            <input type="submit" style="margin-top: 3px;"> <input type="reset">
                            <br>
                        </fieldset>
                    </form>
                </div>

                <div class="centered-container">
                    <div class="separator"></div>
                    <form action="/admin" method="post">
                        <fieldset class="fieldset">
                            <legend class="main-color-emphasized">Uklanjanje poslovnice</legend>

                            <label for="idPoslovnica">Id Poslovnice:</label>
                            <input type="text" name="locationRemove" id="idPoslovnica" maxlength="4" minlength="1">
                            <br>

                            <input type="submit" style="margin-top: 3px;"> <input type="reset">
                            <br>
                        </fieldset>
                    </form>
                </div>

                <div class="centered-container">
                    <div class="separator"></div>
                    <form action="/admin" method="post">
                        <fieldset class="fieldset">
                            <legend class="main-color-emphasized">Uređivanje poslovnice</legend>

                            <label for="idPoslovnica">Id Poslovnice:</label>
                            <input type="text" name="locationEdit" id="idPoslovnica" maxlength="4" minlength="1">
                            <br>

                            <label for="lokacija">Lokacija:</label>
                            <input type="text" name="locationEdit" id="lokacija" maxlength="20" minlength="2">
                            <br>

                            <input type="submit" style="margin-top: 3px;"> <input type="reset">
                            <br>
                        </fieldset>
                    </form>
                </div>
            </div>
    </body>