<!DOCTYPE html>
<html>

<head>
    <title>AUTOS!</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="./images/car-icon.png"/>
    <link rel="stylesheet" type="text/css" href="./vendor/normalize.css">
    <link rel="stylesheet" type="text/css" href="./styles/main.css">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>

<body class="content">

<%- include(`partials/header`); %>

<main class="main">
    <section class="section secondary-color-bg">
        <div class="container">
            <img class="scaled-image" src="images/cars.jpg" alt="Company jumbo image">
        </div>
    </section>

    <section class="section primary-color-bg">
        <div class="container">
            <div class="centered-container">
                <h1 class="decorated-title font-secondary main-color"> <span class="main-color-emphasized">
                            Naša</span> Priča</h1>
                <div class="separator"></div>
                <h2 class="decorated-subtitle main-color">Želimo svijetu pokazati  <em
                            class="main-color-emphasized">AUTOS</em> i gospodski način transporta</h2>
            </div>
            <div class="container-grid container-grid-thirds">
                <p>
                    <img class="badge-image" src="images/ribbon.png" alt="Best award">
                    Život bez auta je nezamisliv. Ugodni zvuk pokretanja motora s unutarnjim izgaranjem
                    možda je jedan od najljepših zvukova moderne civilizacije. Taj užitak mogu umanjiti
                    misli o brizi za vozilo, održavanju, osiguranju i slično. Međutim, postoji rješenje.
                    Pustite nas da se brinemo o automobilima, a vi ih samo unajmite kad god je potrebno.
                    Nikad se ne brinite da ste bez prijevoza ili da nemate kako na poslovni sastanak uz
                    AUTOS. Uživajte u vrhunskoj usluzi i vozilima koja su vam na dohvat ruke, kad ih želite
                    i kako ih želite.

                    

                    <a class="link" href="#">Pročitaj više</a>
                </p>
                <div class="summary">
                    <h3 class="summary-title main-color-emphasized font-secondary"></h3>
                    <p class="summary-content"> Dan počinje paljenjem automobila. - Stara narodna </p>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="separator"></div>
        </div>
        <section class="section container">
            <div class="container-grid container-grid-halves">
                <div class="news">
                    <h3 class="main-color font-secondary news-title "> Novosti, događanja &amp; i ostalo</h3>
                    <div class="infobox infobox-news">
                        <h4 class="infobox-title main-color-emphasized">
                            Predivni novi auti
                        </h4>
                        <h5 class="infobox-subtitle main-color-emphasized">
                            15. studenog, 2020.
                        </h5>
                        <p class="infobox-content">
                            Proširili smo ponudu vozila! Novi auti su dostupni da ih isprobate!
                            
                        </p>
                        <a class="link infobox-link" href="#">Pročitaj više</a>
                    </div>
                    <div class="infobox infobox-calendar">
                        <h4 class="infobox-title main-color-emphasized">
                            Časna pobjeda!
                        </h4>
                        <h5 class="infobox-subtitle main-color-emphasized">
                            14. srpnja, 2020.
                        </h5>
                        <p class="infobox-content">
                            AUTOS je proglašena za "Ultimate Car Renting Company". Prestižnu nagradu dodijelila je...
                            
                        </p>
                        <a class="link infobox-link" href="#">Pročitaj više</a>
                    </div>
                </div>
                <div class="vertical-center">
                    <img class="scaled-image" src="images/limo.jpg" alt="Limuzina">
                </div>


            </div>
        </section>
        <div class="separator"></div>
    </section>
</main>

<%- include(`partials/footer`); %>

</body>

</html>
